# ignore everything
*

# except the following files
!*.ahk

!*.md

!*.png

!*.jpg

!*.drawio

!.gitignore

!.cursorrules

# except .log files in the "log" folder
# !log/
# !log/*.log

# navigate into subdirectories
!*/
